.modal.hide.fade#modal-field-group-add
    form
        .modal-header
            button(type='button', data-dismiss='modal', aria-hidden='true').close &times;
            h2 Add field group
        .modal-body
            input(type='text', placeholder='Field group name', name='field-group-name')
        .modal-footer
            button(type='button', data-dismiss='modal', aria-hidden='true').btn Cancel
            button(type='submit').btn.btn-primary Add field group
