:markdown

    You are receiving this email because you have requested to reset your 
    password. If you remember your password you can safely ignore this email
    and log in normally.

p Your username: #{username}
p Password reset link: 
    a(href=url) #{url}

