title = 'Password Reset'

extends manager/base-public

block content

    .row: .span12
        :markdown
            Please provide either the user login or email to 
            identify the user account to reset.

            An email will be sent to the user's registered email address 
            with a reset link. The link will be good for 24 hours.

    form#forgot-password(method='post')
        label.row
            .span1 Username
            .span9: input#username(type='text', name='username')
        label.row
            .span1 Email
            .span9: input#email(type='text', name='email')
        .row
            .span9.offset1
                button(type='submit') Submit
