title = 'Password Reset'

extends manager/base-public

block content

    form#password-reset(method='post')
        label.row
            .span2 New password 
            .span8: input(type='password', name='password')
        .row
            .span8.offset2
                button(type='submit') Submit
