extends manager/base


block content

    form.form-horizontal(method='post')#password-reset
        .control-group
            label.control-label(for='password-old')
                | Original Password
            .controls
                input(type='password', name='old', required)#password-old
        .control-group
            label.control-label(for='password-new')
                | New Password
            .controls
                input(type='password', name='new', required)#password-new
        .control-group
            label.control-label(for='password-confirm')
                | Confirm New Password
            .controls
                input(type='password', name='confirm', required)#password-confirm
        .control-group
            .controls
                button(type='submit') Change Password
