title = 'Password Reset Link Invalid'

extends manager/base-public

block content

    :markdown
        The password reset token is invalid or incorrect. It is likely that
        24 hours has passed and the token has expired.

        If you wish, you can 
        [request another password reset](#{u('manager.forgot_password')}).
